*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;  
}

.container{
    
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
    
    width: 450px;
    height: 350px;
     top: 50%; 
     left: 50%; 
    justify-content: center;
     transform: translate(-50%, -50%); 
     box-shadow: 5px 10px  18px grey; 
     position: absolute; 
}
.container-1{
    padding: 10px;
}

.login{
    color: #00357a;
    text-align: center;
    font-size: 1.7rem;

}

.logo{
    color: #00357a;
    text-align: center;
    font-weight: bolder;
    padding: 10px 10px;

}

.user{
    position: relative;
    font-size: 1rem;
    padding-right: 10rem;
    font-weight: bold;
}
.text-name{
    margin-bottom: 10px;
}

input{
    height: 27px;
    
}

.text-class{
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.password-class{
    margin-top: 10px;
    margin-bottom: 20px;
}

.last-part{
    text-align: right;
    margin-right: 40px;
}

.login-button{
    background-color: #ffbf0f;
    font-size: 1em;
    border: none;
    outline: none;
    padding:5px 15px 5px 15px ;
    margin-bottom: 20px;
    cursor: pointer;
}

.login-button:hover{
    background-color: #6e540b;
    transition: 0.5s;
}

.forgot-password{
    color:#00357A;
    cursor: pointer;
}