*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;  
}

.container{
    
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: white;
    
    width: 450px;
    height: 350px;
     top: 50%; 
     left: 50%; 
    justify-content: center;
     transform: translate(-50%, -50%); 
     box-shadow: 5px 10px  18px grey; 
     position: absolute; 
}
.login{
    color: #00357a;
    text-align: center;
    font-size: 1.8rem;

}

.logo{
    color: #00357a;
    text-align: center;
    font-weight: bold;
    padding: 10px 10px;

}

.user{
    position: relative;
    font-size: 1rem;
    padding-right: 10rem;
}
.text-name{
    margin-bottom: 10px;
}

